:root.theme-dark {
  --bg-color: #000028;
  --main-font: 'IBM Plex Mono';
  --menu-color: #ff0070;
  --header-color: #db00ff;
  --shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --navigation-color: #ff0070;
  --accent-color: #ff0070;
  --border: 1px solid #ff0070;
  --decorated-zone: #ff0070;
  --rec-text-color: #ff0070;
  --rec-color: #ff0070;
  --footer-title: #db00ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --main-font: 'IBM Plex Mono';
    --menu-color: #ff0070;
    --header-color: #db00ff;
    --shadow-color: #ff0070;
    --text-color: #f1b2ce;
    --navigation-color: #ff0070;
    --accent-color: #ff0070;
    --border: 1px solid #ff0070;
    --decorated-zone: #ff0070;
    --rec-text-color: #ff0070;
    --rec-color: #ff0070;
    --footer-title: #db00ff;
  }  
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}

.page.theme_dark {
  --bg-color: #000028;
  --main-font: 'IBM Plex Mono';
  --menu-color: #ff0070;
  --header-color: #db00ff;
  --shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --navigation-color: #ff0070;
  --accent-color: #ff0070;
  --border: 1px solid #ff0070;
  --decorated-zone: #ff0070;
  --rec-text-color: #ff0070;
  --rec-color: #ff0070;
  --footer-title: #db00ff;

  --background-image: url(/images/cover-image-dark.png);
}