.page {
  font-family: var(--main-font, monospace);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  font-family: var(--main-font, monospace);
  min-height: 768px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .header {
    min-height: 1024px;
  }
}

@media (max-width: 375px) {
  .header {
    min-height: 668px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.decorated-zone::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone);
  border-right: 1px solid var(--decorated-zone);
  right: 20px;
  top: 20px;
}

@media (max-width: 375px) {
  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }
}

.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone);
  border-left: 1px solid var(--decorated-zone);
  left: 20px;
  bottom: 19px;
}

@media (max-width: 375px) {
  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
}

.rec-text {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  position: absolute;
  right: 29px;
  top: 22px;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--rec-text-color);
}

@media (max-width: 375px) {
  .rec-text {
    top: 10px;
    right: 19px;
  }
}

.rec-text::after {
  content: '';
  box-shadow: 0px 0px 4px 2px var(--rec-color);
  border-radius: 50%;
  width: 9px;
  height:9px;
  background: var(--rec-color);
}

.header__theme-menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 2px 13px 4px 13px;
  block-size: 23.5px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decoration-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decoration-color);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: var(--menu-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
    align-items: end;
    padding-top: 172px;
  }
}

@media (max-width: 375px) {
  .header__theme-menu-list {
    padding-top: 65px;
  }
}

.title {
  font-family: var(--main-font, monospace);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__title {
  position: relative;
  color: var(--header-color);
  text-shadow: 4px 4px var(--shadow-color);
}

@media (max-width: 768px) {
  .header__title {
    color: var(--header-small-color);
    text-shadow: 4px 4px var(--shadow-small-color);
  }
}

@media (max-width: 375px) {
  .header__title {
    font-size: 116px;
    left: 10px;
  }
}

.decorated {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: var(--text-decorated);
  background-color: var(--accent-color);
}

.header__text {
  max-width: 491px;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  inline-size: 50%;
  letter-spacing: 0em;
  text-align: left;
  justify-self: end;
  align-self: center;
  block-size: fit-content;
}

@media (max-width: 768px) {
  .header__text {
    inline-size: 48.5%;
  }
}

@media (max-width: 375px) {
  .header__text {
    inline-size: 97%;
  }
}

.container {
  width: 100%;
}

.section_container {
  display: grid;
}

.section-concentrate {
  grid-template-columns: 30% 1fr;
  column-gap: 38px;
  margin-top: 60px;
  max-width: 984px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .section-concentrate {
    row-gap: 25px;
    padding: 0px;
    padding-right: 20px;
  }
}

@media (max-width: 375px) {
  .section-concentrate {
    grid-template-columns: repeat(1, 355px);
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .article__list-item {
    margin-bottom: 25px;
  }
}

@media (max-width: 375px) {
  .article__list-item {
    margin-bottom: 23px;
  }
}

@media (max-width: 375px) {
  .section-concentrate {
    margin-top: 40px;
    padding: 0px 10px 10px 10px;
  }
}

.section__title {
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  .section__title {
    margin-bottom: 11px;
  }
}

.section__main-title {
  inline-size: min(30.71vi, 345px);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--navigation-color);
}

@media (max-width: 375px) {
  .section__main-title {
    width: 355px;
    word-wrap: break-word;
  }
}

.section__text {
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color, #f1b2ce);
  word-wrap: normal;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .section__text {
    margin-bottom: 0px;
    margin-top: 2px;
    padding-bottom: 2px;
  }
}

@media (max-width: 375px) {
  .section__text {
    width: 355px;
    padding-top: 0px;
    margin-top: 0px;
  }
}

a {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

a:hover {
  display: inline;
  border-bottom: 1px solid var(--text-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.section-about-attention {
  margin-top: 60px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .section-about-attention {
    padding-right: 20px;
    margin-top: 57px;
  }
}

@media (max-width: 375px) {
  .section-about-attention {
    max-width: 355px;
    padding-left: 10px;
    white-space: normal;
    margin-top: 22px;
  }
}

.article__list-about-attention {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .article__list-about-attention {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-right: 0px;
  }
}

@media (max-width: 375px) {
  .article__list-about-attention {
    grid-template-columns: repeat(1, 355px);
    grid-template-rows: repeat(3, minmax(0, auto));
    gap: 20px;
    width: 355px;
  }
}

.section-rules {
  grid-template-columns: 30% 1fr;
  gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .section-rules {
    gap: 39px;
    padding-right: 20px;
    margin-top: 78px;
  }
}

@media (max-width: 375px) {
  .section-rules {
    grid-template-columns: repeat(1, 355px);
    gap: 20px;
    padding-left: 10px;
    margin-top: 58px;
  }
}

.section__title-rules {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section__title-rules {
    max-width: 472px;
  }
}

@media (max-width: 375px) {
  .section__title-rules {
    max-width: 355px;
    word-wrap: break-word;
  }
}

.section__title-rules-normal {
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .section__title-rules-normal {
    max-width: 472px;
  }
}

@media (max-width: 375px) {
  .section__title-rules-normal {
    max-width: 355px;
    margin-bottom: 10px;
  }
}

.gallery {
  padding-right: 20px;
}

@media (max-width: 768px) {
  .gallery {
    padding-right: 0px;
  }
}

.section-gallery {
  margin: 55px 0 20px 20px;
}

@media (max-width: 768px) {
  .section-gallery {
    max-width: 728px;
    margin-top: 54px;
  }
}

@media (max-width: 375px) {
  .section-gallery {
    margin-left: 10px;
    max-width: 355px;
    margin: 30px 10px 10px 10px;
  }
}

.gallery__grid {
  grid-template-columns: repeat(3, minmax(0, auto));
  grid-template-rows: repeat(3, minmax(0, auto));
  gap: 19px;
  margin-block-start: 20px;
  margin-block-end: 40px;
  padding-left: 20px;
  padding-bottom: 10px;
  grid-template-areas:  
      "wide1 wide1 wide2"
      "wide4 wide3 wide2"
      "wide4 wide5 wide5";
}

@media (max-width: 768px) {
  .gallery__grid {
    gap: 15px;
    padding-right: 20px;
  }
} 

@media (max-width: 375px) {
  .gallery__grid {
    grid-template-columns: repeat(1, minmax(0, auto));
    grid-template-rows: 142px 355px 237px 355px 237px;
    gap: 10px;
    margin-block-start: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    grid-template-areas:  
      "wide1"
      "wide2"
      "wide4"
      "wide3"
      "wide5";
  }
}

.gallery__image-main {
  width: 100%;
  height:99%;
  object-position: center;
  object-fit: cover;
}

.gallery__image:first-of-type {
  grid-area: wide1;
}

.gallery__image:nth-of-type(2) {
  grid-area: wide2;
}

.gallery__image:nth-of-type(3) {
  grid-area: wide4;
}

.gallery__image:nth-of-type(4) {
  grid-area: wide3;
}

.gallery__image:last-of-type {
  grid-area: wide5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 768px;
}

@media (max-width: 768px) {
  .footer {
    min-height: 1024px;
  }
}

@media (max-width: 375px) {
  .footer {
    min-height: 667px;
  }
}

.footer__title {
  color: var(--footer-title);
  text-shadow: 2px 2px var(--shadow-color);
  padding-right: 5px;
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 120px;
  }
}

@media (max-width: 375px) {
  .footer__title {
    font-size: 116px;
  }
}